.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    transition: filter 0.7s ease-in-out, transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    filter: grayscale(100%) blur(10px);
    transform: scale(1.1);
}

.avatar.loaded {
    opacity: 1;
    filter: grayscale(0%) blur(0);
    transform: scale(1);
}

.placeholder-avatar {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    border-radius: 10px;
}

.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.upload-icon {
    position: absolute;
    bottom: 60px;
    right: 5px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}