<div class="avatar-container">
    <img *ngIf="avatarUrl; else showGeneratedAvatar" [src]="avatarUrl" alt="Profile Avatar" class="avatar">

    <ng-template #showGeneratedAvatar>
        <img *ngIf="avatarSvg" [src]="avatarSvg" alt="Generated Avatar" class="avatar">
        <div *ngIf="!avatarSvg" class="placeholder-avatar"></div>
    </ng-template>

    <input type="file" #fileInput hidden (change)="onFileSelected($event)">
    <button *ngIf="allowFileUpload" mat-icon-button class="edit-icon" (click)="triggerFileInput(fileInput)">
        <mat-icon>edit</mat-icon>
    </button>
</div>

<button mat-raised-button color="primary" (click)="generateAvatar()">
    Generate Avatar
</button>