<div class="post-container" *ngIf="post; else loading">
    <h1>{{ post.title }}</h1>

    <p class="date-created" *ngIf="post.dateCreated">
        Posted on: {{ post.dateCreated | date:'mediumDate' }}
    </p>

    <app-img *ngIf="post.thumbnailLarge" [src]="post.thumbnailLarge" alt="{{ post.title }}" />

    <div class="content" *ngIf="post.content">
        {{ post.content }}
    </div>

    <div class="attachments" *ngIf="post.attachments && post.attachments.length">
        <h3>Attachments</h3>
        <div class="attachment" *ngFor="let attachment of post.attachments">
            <app-img [src]="attachment" alt="Attachment" />
        </div>
    </div>

    <div class="moderator" *ngIf="post.moderator">
        <strong>Moderator:</strong> {{ post.moderator.username }}
    </div>
    <app-comments [comments]="post.comments || []" (addComment)="onAddComment($event)">
    </app-comments>
    <button mat-raised-button color="warn" (click)="onDeletePost(post.id)">
        Delete Post
    </button>
</div>

<ng-template #loading>
    <div class="loading">
        Loading post details...
    </div>
</ng-template>