<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" type="text">

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">

      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
      <button mat-raised-button color="primary" type="button" (click)="logout()">
        logout
      </button>
    </form>
  </mat-card-content>
</mat-card>