<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()"> Home</a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">Login</a>
      <a mat-list-item routerLink="/signup" (click)="sidenav.close()">Signup</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <main class="main">
      <app-login-details></app-login-details>
      <app-back-button></app-back-button>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>